{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Affichage du produit</h2>
        <div class="card">
            <div class="card-header">
                <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
                    <a class="btn btn-outline-info float-right" href="{{ path('app_product_index') }}"> 
                        Voir tous les produits
                    </a>
                    <a class="btn btn-outline-success float-right" href="{{ path('app_product_edit', {'id': product.id}) }}"> 
                        Modifier le produit
                    </a>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                    <button class="btn btn-outline-danger float-right">Supprimer le produit</button>
                </form>
            </div>
            <div class="card-body">
                <b class="text-muted">Nom :</b>
                <p>{{ product.name }}</p>
                <b class="text-muted">Prix HT:</b>
                <p>{{ product.priceHT }}</p>
                <b class="text-muted">Date Created:</b>
                <p>{{ product.creationDate ? product.creationDate|date('d-m-Y H:i:s', 'Africa/Porto-Novo') : '' }}</p>
                <b class="text-muted">Date Updated:</b>
                <p>{{ product.dateUpdate ? product.dateUpdate|date('d-m-Y H:i:s', 'Africa/Porto-Novo') : '' }}</p>
            
            </div>
        </div>
    </div>
    
{% endblock %}
